/* Variables */
$olive: #3D9970;
$white: #FFFFFF;
$lime: #01FF70;
$yellow: #FFDC00;
$orange: #FF851B;
$red: #FF4136;

body {
    font-family: 'Comfortaa', cursive;
}

#title {
    background: $olive;
    color: $white;
    text-align: center;
    padding: 1em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    
    h2 {
        font-style: italic;
    }
    
    a {
        color: $white;
    } 
}

#lead {
    font-size: 1.25em;
    text-align: center;
    font-style: italic;
}

#features {
    .finished {
        background: $lime;
    }
    .nearly {
        background: $yellow;
    }
    .development {
        background: $orange;
    }
    .notstarted {
        background: $red;
    }
}

