.post {
	padding: 1em;
	padding-top: 0.5em;
	margin-bottom: 2em;
}

.comment-section-seperator {
	border-color: #B4B4B4;
}

.comment-seperator {
	border-color: #D4D4D4;
}

.comment-list {
	list-style-type: none;
	padding: 0px;
}

.comment-name {
	font-weight: bold;
}

hr {
	border-style: solid;
	border-color: #303030;
}