<script>
    $(".comment-button").on("click", function() {
        var id = $(this).attr("id");
        var comment = $(".input" + id ).val();
        var csrfToken = document.getElementById("csrf_token").value;

        // Create a new variable to hold request
        var commentRequest;

        // Check if XMLHttpRequest exists (modern browsers - IE7+, Firefox, Chrome, Opera, Safari)
        if (window.XMLHttpRequest) {
            // if it does create a XMLHttpRequest
            commentRequest = new XMLHttpRequest();
        }
        else {
            // otherwise deal with IE6, IE5
            commentRequest=new ActiveXObject("Microsoft.XMLHTTP");
        }

        // Call back function for request
        commentRequest.onreadystatechange=function() {

            console.log(commentRequest.status);

            // Check if request was sent successfully.
            if (commentRequest.readyState==4 && commentRequest.status==200) {

                // Get response body
                var response = commentRequest.responseText;
                alert(response);
            }
        }

        // Send a post request
        commentRequest.open("POST","{{ url_for("comment") }}",true);
        commentRequest.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        commentRequest.send("comment=" + comment + "&post_id=" + id + "&csrf_token=" + csrfToken);
    });
</script>