<script>
   /*function getMessages () {

        // Create a new variable to hold request
        var getMessagesRequest;

        // Check if XMLHttpRequest exists (modern browsers - IE7+, Firefox, Chrome, Opera, Safari)
        if (window.XMLHttpRequest) {
            // if it does create a XMLHttpRequest
            getMessagesRequest = new XMLHttpRequest();
        }
        else {
            // otherwise deal with IE6, IE5
            getMessagesRequest=new ActiveXObject("Microsoft.XMLHTTP");
        }

        // Call back function for request
        getMessagesRequest.onreadystatechange=function() {

            console.log(getMessagesRequest.status);

            // Check if request was sent successfully.
            if (getMessagesRequest.readyState==4 && getMessagesRequest.status==200) {

                // Get response body
                var json = getMessagesRequest.responseText;
                // Parse into JSON
                json = JSON.parse(json);

                console.log(json);

                var people = Object.keys(json);
                var htmlString = "";
                for (i = 0; i < people.length; i++) {
                    var string = "<li><button>" + people[i] +"</button></li>";
                    htmlString += string;
                }
                var peopleList = document.getElementById("people");
                peopleList.innerHTML = htmlString;




            }
        }

        // Send a post request
        getMessagesRequest.open("POST","{{ url_for("get_messages") }}",true);
        getMessagesRequest.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        getMessagesRequest.send();
    }*/
</script>