<script>
   /*function getMessages () {

        // Create a new variable to hold request
        var getMessagesRequest;

        // Check if XMLHttpRequest exists (modern browsers - IE7+, Firefox, Chrome, Opera, Safari)
        if (window.XMLHttpRequest) {
            // if it does create a XMLHttpRequest
            getMessagesRequest = new XMLHttpRequest();
        }
        else {
            // otherwise deal with IE6, IE5
            getMessagesRequest=new ActiveXObject("Microsoft.XMLHTTP");
        }

        // Call back function for request
        getMessagesRequest.onreadystatechange=function() {

            console.log(getMessagesRequest.status);

            // Check if request was sent successfully.
            if (getMessagesRequest.readyState==4 && getMessagesRequest.status==200) {

                // Get response body
                var json = getMessagesRequest.responseText;
                // Parse into JSON
                json = JSON.parse(json);

                console.log(json);

                var people = Object.keys(json);
                var htmlString = "";
                for (i = 0; i < people.length; i++) {
                    var string = "<li><button>" + people[i] +"</button></li>";
                    htmlString += string;
                }
                var peopleList = document.getElementById("people");
                peopleList.innerHTML = htmlString;




            }
        }

        // Send a post request
        getMessagesRequest.open("POST","{{ url_for("get_messages") }}",true);
        getMessagesRequest.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        getMessagesRequest.send();
    }*/

    function getPeople() {
        // Create a new variable to hold request
        var getPeopleRequest;

        // Check if XMLHttpRequest exists (modern browsers - IE7+, Firefox, Chrome, Opera, Safari)
        if (window.XMLHttpRequest) {
            // if it does create a XMLHttpRequest
            getPeopleRequest = new XMLHttpRequest();
        }
        else {
            // otherwise deal with IE6, IE5
            getPeopleRequest=new ActiveXObject("Microsoft.XMLHTTP");
        }

        // Call back function for request
        getPeopleRequest.onreadystatechange=function() {

            console.log(getPeopleRequest.status);

            // Check if request was sent successfully.
            if (getPeopleRequest.readyState==4 && getPeopleRequest.status==200) {

                // Get response body
                var json = getPeopleRequest.responseText;
                // Parse into JSON
                json = JSON.parse(json);


                var htmlString = "";
                for (i = 0; i < json.length; i++) {
                    var string = "<li><a>" + json[i] +"</a></li>";
                    htmlString += string;
                }
                var peopleList = document.getElementById("people");
                peopleList.innerHTML = htmlString;




            }
        }

        // Send a post request
        getPeopleRequest.open("POST","{{ url_for("people") }}",true);
        getPeopleRequest.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        getPeopleRequest.send();
    }


    function getConversation(name) {
        // Create a new variable to hold request
        var getConversasionRequest;

        // Check if XMLHttpRequest exists (modern browsers - IE7+, Firefox, Chrome, Opera, Safari)
        if (window.XMLHttpRequest) {
            // if it does create a XMLHttpRequest
            getConversasionRequest = new XMLHttpRequest();
        }
        else {
            // otherwise deal with IE6, IE5
            getConversasionRequest=new ActiveXObject("Microsoft.XMLHTTP");
        }

        // Call back function for request
        getConversasionRequest.onreadystatechange=function() {

            console.log(getConversasionRequest.status);

            // Check if request was sent successfully.
            if (getConversasionRequest.readyState==4 && getConversasionRequest.status==200) {

                // Get response body
                var json = getConversasionRequest.responseText;
                // Parse into JSON
                json = JSON.parse(json);


                var htmlString = "";
                for (i = 0; i < json.length; i++) {
                    var string = "<li><a>" + json[i] +"</a></li>";
                    htmlString += string;
                }
                var peopleList = document.getElementById("people");
                peopleList.innerHTML = htmlString;




            }
        }

        // Send a post request
        getConversasionRequest.open("POST","{{ url_for("people") }}",true);
        getConversasionRequest.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        getConversasionRequest.send("other=" + name);
    }
</script>