{% from "macros.html" import render_field %}
{% extends "layout.html" %}
{% block content %}
    <h1>You are logged in.</h1>
    <a href={{url_for("logout")}}>
	    <button>Log Out</button>
	</a>
    <div id="messagingForm">
        <form>
            {{ messaging_form.hidden_tag() }}
            {% for field in messaging_form %}
                {{ render_field(field) }}
            {% endfor %}
            <button type="submit" id="submit">Send</button>
        </form>
    </div>
{% endblock %}