<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{%  block title %}{% endblock %}</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT -->
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <link rel="stylesheet" href={{url_for('static', filename="css/normalize.css")}}>
    <link href="{{ url_for("static", filename="css/main.css") }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for("static", filename="css/colors.css") }}" rel="stylesheet" type="text/css">

	{% block css %}
	{% endblock %}


  	<!-- Favicon -->
  	<link rel="icon" type="image/png" href={{url_for('static', filename="images/favicon.png")}}>


</head>
<body class="no-pm">
	<!-- Title bar -->
	<div class='bg-olive no-m' id="Titlebar">
		<h1 class="no-m white theme-font" id="title">Fakebook</h1>
		<div id="ButtonContainer">
			<!--Change to logout button if user is logged in -->
			<button class="theme-btn right marg-5 pad-5 theme-font">Logout</button>
            <!--Change to logout button if user is not logged in -->
			<button class="theme-btn right marg-5 pad-5 theme-font">Login</button>
			<button class="theme-btn right marg-5 pad-5 theme-font">Register</button>
		</div>
	</div>
	<div class="container">
		{% block content %}
    	{% endblock %}
    	<br>
	    {% for message in get_flashed_messages() %}
	        {{ message }}
	    {% endfor %}
	</div>
    <script src="{{url_for('static', filename="js/jquery-1.11.3.js")}}"></script>
	{% block ajax %}
	{% endblock %}
</body>
</html>