<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{%  block title %}{% endblock %}</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT -->
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <link rel="stylesheet" href={{url_for('static', filename="css/normalize.css")}}>
    <link href="{{ url_for("static", filename="css/main.css") }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for("static", filename="css/colors.css") }}" rel="stylesheet" type="text/css">

	{% block css %}
	{% endblock %}


  	<!-- Favicon -->
  	<link rel="icon" type="image/png" href={{url_for('static', filename="images/favicon.png")}}>


</head>
<body class="no-pm">
	<!-- Title bar -->
	<div class='bg-olive no-m clearfix' id="Titlebar">
		<h1 class="no-m white theme-font" id="title">Fakebook</h1>
		<div id="ButtonContainer">
            {% if current_user.is_authenticated() %}
				<!--Change to logout button if user is logged in -->
				<button class="theme-btn right marg-5 pad-5 theme-font"><a href="{{url_for("logout")}}">Logout</a></button>
                {% if request.path != url_for("view_friend_requests") %}
					<a href="{{ url_for("view_friend_requests") }}"><button class="theme-btn right marg-5 pad-5 theme-font">Friend Requests</button></a>
				{% endif %}
                {% if request.path != url_for("user_listing") %}
                	<a href="{{ url_for("user_listing") }}"><button class="theme-btn right marg-5 pad-5 theme-font">User Listing</button></a>
				{% endif %}
                {% if request.path != url_for("home") %}
                	<a href="{{ url_for("home") }}"><button class="theme-btn right marg-5 pad-5 theme-font">Home</button></a>
				{% endif %}
            {% else %}
            	<!--Change to logout button if user is not logged in -->
				<a href="{{url_for("login")}}"><button class="theme-btn right marg-5 pad-5 theme-font">Login</button></a>
				<a href="{{url_for("register")}}"><button class="theme-btn right marg-5 pad-5 theme-font">Register</button> </a>
            {% endif %}
		</div>
	</div>
	<div class="container dark_gray">
		{% block content %}
    	{% endblock %}
	</div>
    <script type="text/javascript">
	    {% for message in get_flashed_messages() %}
	        alert("{{ message }}");
	    {% endfor %}
    </script>
    <script src="{{url_for('static', filename="js/jquery-1.11.3.js")}}"></script>
	{% block ajax %}
	{% endblock %}
</body>
</html>