{% from "macros.html" import render_field %}
{% extends "layout.html" %}
{% block content %}
    <h1 id="name">{{ user["username"] }}</h1>
    <img src="{{ gravatar }}">
    <div id="bio-view">{{ user["biography"] | safe }}</div>
    {% if own_page %}
        <p>On own page.</p>
        <!-- Later add controls to editing bio etc. -->
        <form method="post" id="bio-form">
            {{ bio_form.hidden_tag() }}
            {% for field in bio_form %}
                {{ render_field(field) }}
            {% endfor %}
            <button type="button" id="send-message" onclick="createBio()">Update Bio</button>
        </form>
    {% endif %}
    <div id="friend-status">
        {% if is_friend %}
            <p>You are friends! :)</p>
        {% elif is_pending %}
            <p>Request Pending</p>
        {% elif not own_page %}
            <button type="button" class="friend-request-button" onclick="sendFriendRequest()">Send Friend Request</button>
        {% endif %}
    </div>
{% endblock %}
{% block ajax %}
    {% include "update_bio.html" %}
    {% include "send_request.html" %}
{% endblock %}