{% extends "layout.html" %}
{% block content %}
    <h1 id="name">{{ user["username"] }}</h1>
    <img src="{{ gravatar }}">
    {% if own_page %}
        <p>On own page.</p>
        <!-- Later add controls to editing bio etc. -->
        <textarea>{{ user["biography"] }}</textarea>
    {% else %}
        <p>{{ user["biography"] }}</p>
    {% endif %}
    {% if is_friend %}
        <p>You are friends! :)</p>
    {% elif is_pending %}
        <p>Request Pending</p>
    {% elif not own_page %}
        <button type="button" class="friend-request-button" onclick="sendFriendRequest()">Send Friend Request</button>
    {% endif %}
{% endblock %}
{% block ajax %}
    {% include "send_request.html" %}
{% endblock %}