{% from "macros.html" import render_field %}
{% extends "layout.html" %}
{% block urls %}
    <meta id="send-message-url" data-url="{{ url_for("messaging_blueprint.send_message") }}">
    <meta id="people-url" data-url="{{ url_for("messaging_blueprint.people") }}">
    <meta id="get-messages-url" data-url="{{ url_for("messaging_blueprint.get_messages") }}">
    <meta id="send-post-url" data-url="{{ url_for("posts_blueprint.add_post") }}">
    <meta id="get-posts-url" data-url="{{ url_for("posts_blueprint.get_posts") }}">
    <meta id="add-comment-url" data-url="{{ url_for("posts_blueprint.comment") }}">
    <meta id="get-post-url" data-url="{{ url_for("posts_blueprint.get_post") }}">
    <meta id="delete-post-url" data-url="{{ url_for("posts_blueprint.delete_post") }}">
    <meta id="edit-post-url" data-url="{{ url_for("posts_blueprint.edit_post") }}">
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/wmd.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/posts.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/font-awesome.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/messages.css") }}">
{% endblock %}
{% block content %}

    <div class="right friends-bar theme-box">
        <h1 class="theme-font">Friends: </h1>
        <ul class="friends-list" id="people">

        </ul>
        <div class="conversation theme-font" id="Bill">
            <h3 id="name"></h3>
            <div class="messages-box">
                <ul id="messages" class="clearfix">

                </ul>
            </div>
            <div id="messagingForm">
                <form method="post">
                    {{ messaging_form.hidden_tag() }}
                    
                    {% for field in messaging_form %}
                        {{ render_field(field) }}
                    {% endfor %}
                    <button type="button" id="send-message" onclick="sendMessage()">Send</button>
                </form>
            </div>
        </div>
    </div>

    <div class="left main-content">
        <h1 class="theme-font" style="font-weight: 700;">Welcome to Fakebook</h1>
        <h2 class="theme-font"> Make a new post: </h2>

        <!--Editor Widget-->
        <div class="post-form theme-box">
            <div id="button-bar-overlay">
                <i class="fa fa-bold fa-lg fa-pm" emulate="#wmd-bold-button" title="Bold"></i> <!--Bold -->
                <i class="fa fa-5x"></i>
                <i class="fa fa-italic fa-lg fa-pm" emulate="#wmd-italic-button"></i><!--Italic-->
                <i class="fa fa-5x"></i> <i class="fa fa-5x"></i> <i class="fa fa-5x"></i><!--Seperator -->
                <i class="fa fa-link fa-lg fa-pm" emulate="#wmd-link-button"></i>
                <i class="fa fa-5x"></i>
                <i class="fa fa-quote-left fa-lg fa-pm" emulate="#wmd-quote-button"></i>
                <i class="fa fa-5x"></i>
                <i class="fa fa-code fa-lg fa-pm" emulate="#wmd-code-button"></i>
                <i class="fa fa-5x"></i>
                <i class="fa fa-picture-o fa-lg fa-pm" emulate="#wmd-image-button"></i>
                <i class="fa fa-5x"></i> <i class="fa fa-5x"></i> <i class="fa fa-5x"></i><!--Seperator -->
                <i class="fa fa-list-ol fa-lg fa-pm" emulate="#wmd-olist-button"></i>
                <i class="fa fa-5x"></i>
                <i class="fa fa-list-ul fa-lg fa-pm" emulate="#wmd-ulist-button"></i>
                <i class="fa fa-5x"></i>
                <i class="fa fa-header fa-lg fa-pm" emulate="#wmd-heading-button"></i>
                <i class="fa fa-5x"></i>
                <i class="fa fa-minus fa-lg fa-pm" emulate="#wmd-hr-button"></i>
                <i class="fa fa-5x"></i> <i class="fa fa-5x"></i> <i class="fa fa-5x"></i><!--Seperator -->
                <i class="fa fa-5x"></i>
                <i class="fa fa-undo fa-lg fa-pm" emulate="#wmd-undo-button"></i>
                <i class="fa fa-5x"></i>
                <i class="fa fa-repeat fa-lg fa-pm" emulate="#wmd-redo-button"></i>
                <!--Send button -->
                <i class="fa fa-paper-plane fa-lg fa-pm right" id="submit-post" onclick="sendPost()"> Post</i>
                <i class="fa fa-5x right pad-5"></i>
                <!--preveiw button-->
                <i class="fa fa-eye fa-lg fa-pm right" id="preview-toggle" title="Toggle preview"></i>
            </div>

            <div id="wmd-button-bar"></div>
            <form method="post">
                {{ post_form.hidden_tag() }}
                {% for field in post_form %}
                    {{ render_field(field) }}
                {% endfor %}
            </form>
            <div id="wmd-preview" class="theme-font pad-5"></div>
        </div>

        <!-- List all of the posts -->
        <div id="posts" class="theme-font">
            {% for post in posts %}
                <div class="post theme-box clearfix" id="div{{ post[4] }}">
                    <span class="name dark-gray">By {{ post[0] }} at <span class="timestamp">{{ post[1] }}</span></span>
                    {% if post[5] %}
                        <span class="delete-button right">
                            <i class="fa fa-times fa-lg" title="delete"></i>
                        </span>
            
                        <!-- Split -->
                        <i class="fa fa-5x"></i>

                        <span class="edit-toggle right" data-ref="#edit-container{{ post[4] }}">
                            <i class="fa fa-edit fa-lg"></i>
                        </span>
                    {% endif %}
                    <div class="content">{{ post[2] | safe }}</div>
                    {% if post[5] %}
                        <div id="edit-container{{ post[4] }}" class="edit-container">
                            <button class="edit-button" data-id="{{ post[4] }}">Update</button> <br>
                            <textarea id="edit{{ post[4] }}">{{ post[6] }}</textarea>
                        </div>
                    {% endif %}
                    <div>
                        <h2 class="comment-header">Comments:</h2>
                        <hr class="comment-section-seperator"> <!-- Comment and post divider -->
                        <ul class="comment-list">
                            {% for comment in post[3] %}
                                <li class="comment"><span class="comment-name">{{ comment[0] }}</span>: {{ comment[2] }} <span class="date right">{{ comment[1] }}</span></li>
                                <hr class="comment-seperator">
                            {%  endfor %}
                        </ul>
                    </div>
                    <form>
                        <input class="input{{ post[4] }} comment-input" name="comment" type="text">
                        <button type="button" id="{{ post[4] }}" class="comment-button"><i class="fa fa-comment"></i> Post comment</button>
                    </form>
                    <hr class="comment-section-seperator">
                </div>
            {% endfor %}
        </div>
        <button type="button" id="load-posts" onclick="getPosts()">Load More</button>
    </div>
{% endblock %}
{% block ajax %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Editor.js"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/markdown-editor-widget.js") }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('.fa').click(function(event) {
                //event.preventDefault();
                var emulateIdentitifier = $(this).attr('emulate');
                console.log(emulateIdentitifier);
                if ($(emulateIdentitifier)) {
                    $(emulateIdentitifier).click();
                }
            });
        });
    </script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/send_message.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/get_messages.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/send_post.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/get_posts.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/add_comment.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/delete_post.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/edit_post.js") }}"></script>
    <script type="text/javascript">

        var currentPerson = "";
        function auto_update () {

            if (currentPerson != "") {
                getConversation(currentPerson);
            }

            setTimeout(auto_update, 10000);
        }
        getPeople();
        auto_update();

    </script>
    <script type="text/javascript">
        //Script to edit post update animation
        /*jQuery(document).ready(function($) {
            $('.edit-toggle').click(function(event) {
                $($(this).attr('data-ref')).slideToggle(400);
            });
        });*/
        $(document).on("click", ".edit-toggle", function () {
            $($(this).attr('data-ref')).slideToggle(400);
        });
    </script>

{% endblock %}
