{% from "macros.html" import render_field %}
{% block urls %}
    <meta id="create-bio" data-url="{{ url_for("user_blueprint.create_bio") }}">
    <meta id="get-bio" data-url="{{ url_for("user_blueprint.get_bio") }}">
    <meta id="send-friend-request" data-url="{{ url_for("user_blueprint.friend_request") }}">
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/user.css") }}">
{% endblock %}
{% extends "layout.html" %}
{% block content %}
    <h1 id="name" class="theme-font" data-ref="{{ user["username"] }}">{{ user["username"] }}
        {% if own_page %} <tag class="self">You</tag> {% endif %}
        {% if is_friend %}
            <tag class="friends">Friends</tag>
        {% elif is_pending %}
            <tag class="pending">Request Pending...</tag>
        {% elif not own_page %}
            <button type="button" class="friend-request-button" onclick="sendFriendRequest()"  data-ref="{{ user["username"] }}">Send Friend Request</button>
        {% endif %}
    </h1>
    <img class="profile-pic left" src="{{ gravatar }}">
    <div class="bio theme-font " id="bio-view">{{ user["biography"] | safe }}</div>

    {% if own_page %}
        <!-- Later add controls to editing bio etc. -->
        <form method="post" id="bio-form">
            {{ bio_form.hidden_tag() }}
            {% for field in bio_form %}
                {{ render_field(field) }}
            {% endfor %}
            <button type="button" id="update-bio" onclick="createBio()">Update Bio</button>
        </form>
    {% endif %}

{% endblock %}
{% block ajax %}
    <script type="text/javascript" src="{{ url_for("static", filename="js/bio.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/send_request.js") }}"></script>
{% endblock %}