{% extends "layout.html" %}
{% block urls %}
    <meta id="confirm-friend-request" data-url="{{ url_for("user_blueprint.confirm_friend_request") }}">
    <meta id="get-friend-requests" data-url="{{ url_for("user_blueprint.get_friend_requests") }}">
{% endblock %}
{% block content %}
    <ul id="friend-requests">
        {% if requests %}
            {% for request in requests %}
                <li>{{ request[0] }} - <button id="{{ request[1] }}" class="confirm-request-button">CONFIRM</button><button id="{{ request[1] }}" class="decline-request-button">DECLINE</button></li>
            {% endfor %}
        {% else %}
            <li>You have no open friend requests.</li>
        {% endif %}
    </ul>
{% endblock %}
{% block ajax %}
    <script type="text/javascript" src="{{ url_for("static", filename="js/confirm_request.js") }}"></script>
{% endblock %}